/* Main font from google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,700&family=Mulish:wght@400;600;700;800;900&family=Work+Sans:wght@400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
section {
    margin-top: 100px;
}
/* shared items */
:root {
    --primary-color:#FF5400;
    --secondar-color:#131318;
}
/* nav section start */
header {
    padding: 50px 130px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
}
.nav-logo {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    padding: 10px;
}
nav ul .home{
    color: var(--primary-color);
}
.nav-logo h3{
    color: var(--secondar-color);
    font-size: 2.25rem;
    font-weight: 800;
    padding-left: 10px;
}
.primary-color {
    color: var(--primary-color);
}
/* banner style start */
.banner {
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1140px;
    height: 500px;
    border-radius: 16px;
}
.banner-contaier {
    text-align: center;
}
.banner-content h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    padding: 100px 0 20px 0;
}
.banner-content p {
    color: #fff;
    padding-bottom: 40px;
}
/* banner style end */